.main-card {
  position: relative;
  background-color: rgb(240, 245, 255);
  margin: 40px;
  border-radius: 16px;
  box-shadow: 0px 16px 16px rgba(109, 109, 109, 0.2);
  height: 90vh;
  overflow: hidden;
}

.home-card-content {
  margin-top: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about-card-content {
  margin-top: 0px;
  padding: 40px 40px 40px 40px;
}

/*  */
.grid-container-skills {
  margin: 0 24px 24px 24px;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  gap: 16px;
  /* background-color: #2196f3; */
  padding: 16px;
}
/*  */

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: rgb(240, 245, 255);
  border-radius: 16px 16px 0px 0px;
}

.navbar-links {
  display: flex;
  gap: 24px;
}

.navbar-socialLinks {
  display: flex;
  gap: 8px;
  margin-right: 40px;
}

h1.myFullName-h1 {
  font-family: PencilChild;
}

p.jobTitle-p,
.hello-p,
.from-p {
  font-family: PencilChild;
}

label.logo {
  font-family: PencilChild;
}

a.home-a,
.about-a,
.skills-a,
.contact-a {
  padding: 4px 8px;
  border-radius: 4px;
  text-decoration: none;
  color: black;
  font-family: PencilChild;
  font-size: 20px;
}

a.home-a:hover,
.about-a:hover,
.contact-a:hover,
.skills-a:hover {
  background: rgb(164, 164, 241);
  transition: 0.5s;
}

a.home-a:active,
.about-a:active,
.contact-a:active,
.skills-a:active {
  background-color: rgb(60, 60, 162);
}

a.github-icon:hover {
  filter: drop-shadow(0 0 10px rgb(80, 235, 240));
}

a.linkedin-icon:hover {
  filter: drop-shadow(0 0 10px rgb(80, 235, 240));
}

button.hireMe-button {
  background-color: rgb(80, 80, 240);
  border: none;
  border-radius: 6px;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  cursor: pointer;
  font-family: PencilChild;
}

button.hireMe-button:hover {
  background: rgb(164, 164, 241);
  transition: 0.4s;
}

button.hireMe-button:active {
  background-color: rgb(60, 60, 162);
}

.toggle-button {
  position: absolute;
  top: 0.75;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: rgb(80, 80, 240);
  border-radius: 10px;
}

@media (max-width: 1080px) {
  .myPicture-img {
    display: none;
  }
}

@media (max-width: 900px) {
  .myName-h1 {
    display: none;
  }

  .grid-container-skills {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 16px;
    /* background-color: #2196f3; */
    padding: 16px;
  }
}

@media (max-width: 740px) {
  .toggle-button {
    display: flex;
    z-index: 1;
  }

  .navbar-links {
    display: none;
  }

  .navbar-socialLinks {
    display: none;
  }

  nav {
    flex-direction: column;
    align-items: flex-start;
    position: relative;
  }

  .navbar-links {
    flex-direction: column;
    gap: 8px;
    align-items: center;
    width: 100%;
  }

  /* .navbar-socialLinks {
    flex-direction: column;
    gap: 4px;
    margin-right: 0px;
    align-items: center;
    width: 100%;
  } */

  .card-content {
    margin-top: 0px;
  }

  .navbar-links.active {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 16px;
    padding-bottom: 16px;
    border-radius: 0px 0px 16px 16px;
    box-shadow: 0px 16px 16px rgba(109, 109, 109, 0.2);
    background-color: rgb(190, 204, 232);
  }

  /* .navbar-socialLinks.active {
    display: flex;
    position: absolute;
    top: 140px;
    right: auto;
    padding-bottom: 8px;
    border-radius: 0px 0px 16px 16px;
    box-shadow: 0px 16px 16px rgba(109, 109, 109, 0.2);
    background-color: rgb(190, 204, 232);
  } */

  .from-p,
  .hello-p {
    display: none;
  }

  /* .aboutMe-p {
      width: 30ch;
    } */

  .about-card-content {
    margin-top: 0px;
    padding: 0px 40px 40px 40px;
  }

  .grid-container-skills {
    display: grid;
    grid-template-columns: auto auto;
    gap: 16px;
    /* background-color: #2196f3; */
    padding: 16px;
  }
}
