:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: rgb(233, 238, 248);
}

@font-face {
  font-family: PencilChild;
  src: url(./assets/fonts/Pencil_Child/Pencil_Child.ttf);
}
